.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0062ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


body { 
  background-color: #000000; 
}
.MuiGrid-spacing-xs-2 {
	width: 100% !important;
	margin: 0 !important;
}

.MuiTreeItem-root:focus>.MuiTreeItem-content {
  background-color: transparent !important;
  color: cornflowerblue;
  text-decoration: underline;
  cursor: default;
}

.MuiTreeItem-content:hover {
  background-color: transparent !important;
  text-decoration: underline;
}
